.container {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    padding-top: 10%;
    padding-bottom: 5%;
    min-height: 100vh;
    background-color: #fef9f7;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.left {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 30%;

    color: white;
    background-color: black;
}

.right {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 60%;

    color: white;
    background-color: black;
}