:root {
  --profile-bg: #fef9f7;
  --links-color: #2e2e2e;
  --links-after: #2e2e2e;
  --profile-border: #2e2e2e;
  --card-bg: #2e2e2e;
  --profile-shadow: #2e2e2e50;
  --text-color: #fef9f7;
  --password-buttonBG: #ccccff;
  --password-buttonTEXT: #2e2e2e;
  --password-buttonBGhover: #ccccff;
  --password-buttonTEXThover: #2e2e2e;
  --password-buttonBGactive: #ccccff;
  --password-buttonTEXTactive: #2e2e2e;
  --close-buttonBG: #ffffcc;
  --close-buttonTEXT: #2e2e2e;
  --close-buttonBGhover: #ffffcc;
  --close-buttonTEXThover: #2e2e2e;
  --close-buttonBGactive: #ffffcc;
  --close-buttonTEXTactive: #2e2e2e;
}

[data-theme="dark"] {
  --profile-bg: linear-gradient(
    to bottom,
    #2e2e2e 0%,
    #1e1e1e 50%,
    #000000 100%
  );
  --links-color: #fef9f7;
  --links-after: #fef9f7;
  --profile-border: #fef9f7;
  --card-bg: #fef9f7;
  --profile-shadow: #fef9f750;
  --text-color: #2e2e2e;
  --password-buttonBG: #5353b2;
  --password-buttonTEXT: #fef9f7;
  --password-buttonBGhover: #5353b2;
  --password-buttonTEXThover: #fef9f7;
  --password-buttonBGactive: #5353b2;
  --password-buttonTEXTactive: #fef9f7;
  --close-buttonBG: #baba50;
  --close-buttonTEXT: #fef9f7;
  --close-buttonBGhover: #baba50;
  --close-buttonTEXThover: #fef9f7;
  --close-buttonBGactive: #baba50;
  --close-buttonTEXTactive: #fef9f7;
}

.container {
  width: 100%;
  gap: 2rem;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 5%;
  min-height: 100vh;
  background: var(--profile-bg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  color: var(--text-color);
}

.container {
  padding-top: 7%;
  padding-bottom: 5%;
  text-align: center;
  font-size: large;
  width: 100vw;
  background-position: center;
  max-width: 100% !important;
}

.navs {
  width: 75%;
  gap: 5rem;
  margin-inline: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.zigzagLine {
  position: absolute;
  bottom: -5px;
  height: 6px;
  width: 0;
  pointer-events: none;
  opacity: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 6 L10 0 L20 6 L30 0 L40 6' stroke='%232e2e2e' fill='transparent' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: repeat-x;
  background-size: auto 100%;
  transition: all 5s ease;
}

.animateBackground {
  animation: zigzagMove 20s linear infinite;
}

@keyframes zigzagMove {
  from {
    background-position-x: 0;
  }
  to {
    background-position-x: 40px;
  }
}

.link {
  color: var(--links-color);
  text-decoration: none;
  padding-bottom: 5px;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--links-after);
  text-decoration: none;
}

.profile {
  border: 1.5px solid var(--profile-border);
  background-color: var(--card-bg);
  text-align: center;
  gap: 5rem;
  box-shadow: 0 10px 25px var(--profile-shadow);
}

.info input {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.passwordButton {
  color: var(--password-buttonTEXT);
  background-color: var(--password-buttonBG);
  margin-bottom: 14%;
}

.passwordButton:hover {
  color: var(--password-buttonTEXThover);
  background-color: var(--password-buttonBGhover);
  margin-bottom: 14%;
}

.passwordButton:active {
  color: var(--password-buttonTEXTactive);
  background-color: var(--password-buttonBGactive);
  margin-bottom: 14%;
}

.closeButton {
  color: var(--close-buttonTEXT);
  background-color: var(--close-buttonBG)
}

.closeButton:hover {
  color: var(--close-buttonTEXThover);
  background-color: var(--close-buttonBGhover)
}

.closeButton:active {
  color: var(--close-buttonTEXTactive);
  background-color: var(--close-buttonBGactive)
}